<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Preferences</string>
	<key>items</key>
	<array>
		<dict>
      <key>cell</key>
      <string>PSGroupCell</string>
      <key>footerText</key>
      <string>Shows the "Carrier" menu rigth below the wifi and cellular settings.</string>
    </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.hax0rdoge.leo</string>
			<key>key</key>
			<string>carrierEnabled</string>
			<key>label</key>
			<string>Show Carrier Menu</string>
			<key>default</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
