<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Leo</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>System</string>
			<key>footerText</key>
			<string>Change the behaviour of Apple provided features.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>LEOiOSListController</string>
			<key>icon</key>
			<string>ios.png</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>iOS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>LEOAppStoreListController</string>
			<key>icon</key>
			<string>appstore.png</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>App Store</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>LEOClockListController</string>
			<key>icon</key>
			<string>clock.png</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Clock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>LEOCydiaListController</string>
			<key>icon</key>
			<string>cydia.png</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Cydia</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>LEOSafariListController</string>
			<key>icon</key>
			<string>safari.png</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Safari</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Apps</string>
			<key>footerText</key>
			<string>Change the behaviour of App Store apps.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>height</key>
			<string>20</string>
			<key>footerText</key>
			<string>© 2016 Prayag Bhakar (Hax0rDoge)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>reportBug</string>
			<key>icon</key>
			<string>bug.png</string>
			<key>label</key>
			<string>Report a bug</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>LEOCreditsListController</string>
			<key>icon</key>
			<string>credits.png</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Credits</string>
		</dict>
	</array>
</dict>
</plist>
