Package: com.hax0rdoge.leo
Name: Leo
Depends: mobilesubstrate
Conflicts: com.hax0rdoge.webscrollin, com.chpwn.webscrollian, net.tateu.webscrollian, com.hax0rdoge.onehanded, com.fpt.onehanded, com.hax0rdoge.slidetounlock, com.hax0rdoge.samestatus
Version: 0.1
Architecture: iphoneos-arm
Description: Compilation of many different tweaks.
Maintainer: Prayag Bhakar <p.bhakar.work@gmail.com>
Author: Prayag Bhakar (Hax0rDoge) <p.bhakar.work@gmail.com>
Section: Tweaks
